---
const currentYear = new Date().getFullYear();
---
<footer class="site-footer" role="contentinfo">
  <ul class="social-links">
    <li>
      <a href="/contact-us" aria-label="Contact form">
        <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 253 178"><title>Mail</title><path fill-rule="evenodd" d="M253 46v109c0 3 0 5-1 8l-64-64 65-53ZM23 0h207c13 0 23 10 23 23v4l-102 84c-18 15-30 15-48 0L0 27v-4C0 10 10 0 23 0Zm218 175c-3 2-7 3-11 3H23c-4 0-8-1-11-3l66-66 15 13c24 19 44 19 67 0l15-13 66 66ZM1 163c0-3-1-5-1-8V46l65 53-64 64Z" clip-rule="evenodd"/></svg>
      </a>
    </li>
    <li>
      <a href="https://interledger.social/about" aria-label="Interledger's Mastadon instance">
        <svg role="img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 217 232"><title>Mastadon</title><path fill="#000" fill-rule="evenodd" d="M154.245 176.836c29.07-3.471 54.382-21.382 57.562-37.748 5.013-25.782 4.599-62.916 4.599-62.916 0-50.33-32.975-65.082-32.975-65.082C166.804 3.454 138.254.242 108.594 0h-.729c-29.661.242-58.193 3.454-74.82 11.09 0 0-32.976 14.753-32.976 65.083 0 3.051-.016 6.26-.032 9.601-.046 9.279-.096 19.573.172 30.317 1.197 49.22 9.023 97.729 54.531 109.774 20.982 5.554 38.997 6.716 53.507 5.919 26.31-1.459 41.08-9.39 41.08-9.39l-.867-19.09s-18.803 5.929-39.919 5.206c-20.921-.718-43.007-2.256-46.391-27.943-.313-2.256-.469-4.668-.469-7.202 0 0 20.538 5.02 46.565 6.212 15.915.73 30.84-.932 45.999-2.741Zm23.265-35.818v-60.94c0-12.456-3.171-22.354-9.54-29.676-6.57-7.323-15.173-11.076-25.85-11.076-12.356 0-21.713 4.75-27.898 14.247l-6.015 10.082-6.013-10.082c-6.187-9.499-15.543-14.247-27.898-14.247-10.679 0-19.281 3.754-25.85 11.076-6.37 7.323-9.541 17.22-9.541 29.675v60.941h24.144v-59.15c0-12.469 5.246-18.797 15.74-18.797 11.602 0 17.418 7.507 17.418 22.352V117.8h24.002V85.423c0-14.845 5.815-22.352 17.417-22.352 10.494 0 15.74 6.328 15.74 18.797v59.15h24.144Z" clip-rule="evenodd"/></svg>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/interledger" aria-label="Interledger's Twitter account">
        <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 1227"><title>Twitter</title><path d="M714.163 519.284 1160.89 0h-105.86L667.137 450.887 357.328 0H0l468.492 681.821L0 1226.37h105.866l409.625-476.152 327.181 476.152H1200L714.137 519.284h.026ZM569.165 687.828l-47.468-67.894-377.686-540.24h162.604l304.797 435.991 47.468 67.894 396.2 566.721H892.476L569.165 687.854v-.026Z"/></svg>
      </a>
    </li>
    <li>
      <a href="https://github.com/interledger" aria-label="Interledger's Github account">
        <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.875 34.004"><title>Github</title><path d="M11.665 27.379c0 .141-.162.253-.366.253-.232.021-.394-.091-.394-.253 0-.141.162-.253.366-.253.211-.021.394.091.394.253Zm-2.187-.316c-.049.141.091.3.3.345a.33.33 0 0 0 .436-.141c.042-.141-.091-.3-.3-.366a.361.361 0 0 0-.436.162Zm3.108-.12c-.2.049-.345.183-.323.345.021.141.2.232.415.183s.345-.183.323-.323-.211-.226-.415-.205ZM17.212 0A16.86 16.86 0 0 0 0 17.156a17.628 17.628 0 0 0 11.918 16.818c.9.162 1.216-.394 1.216-.851 0-.436-.021-2.841-.021-4.317 0 0-4.922 1.055-5.955-2.1 0 0-.8-2.046-1.955-2.573 0 0-1.61-1.1.113-1.083a3.711 3.711 0 0 1 2.714 1.819 3.717 3.717 0 0 0 5.126 1.47 3.908 3.908 0 0 1 1.125-2.37c-3.93-.436-7.9-1.005-7.9-7.77a5.329 5.329 0 0 1 1.659-4.141 6.643 6.643 0 0 1 .183-4.774c1.47-.457 4.852 1.9 4.852 1.9a16.611 16.611 0 0 1 8.831 0s3.382-2.363 4.852-1.9a6.64 6.64 0 0 1 .183 4.774 5.466 5.466 0 0 1 1.814 4.141c0 6.785-4.141 7.327-8.072 7.77a4.158 4.158 0 0 1 1.2 3.263c0 2.37-.021 5.3-.021 5.878 0 .457.323 1.013 1.216.851a17.466 17.466 0 0 0 11.8-16.8C34.875 7.403 26.965 0 17.212 0ZM6.834 24.25c-.091.07-.07.232.049.366.113.112.274.162.366.07.091-.07.07-.232-.049-.366-.113-.112-.274-.161-.366-.07Zm-.759-.57c-.049.091.021.2.162.274a.209.209 0 0 0 .3-.049c.049-.091-.021-.2-.162-.274-.138-.042-.251-.021-.3.05Zm2.278 2.5c-.113.091-.07.3.091.436.162.162.366.183.457.07.091-.091.049-.3-.091-.436-.155-.158-.365-.179-.457-.066Zm-.8-1.034c-.113.07-.113.253 0 .415s.3.232.394.162a.321.321 0 0 0 0-.436c-.1-.158-.283-.228-.395-.137Z"/></svg>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/interledger-foundation/" aria-label="Interledger's Linkedin account">
        <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.378 35.377"><title>Linkedin</title><path d="M7.919 35.377H.584v-23.62h7.335ZM4.248 8.535A4.268 4.268 0 1 1 8.5 4.247a4.284 4.284 0 0 1-4.252 4.288ZM35.37 35.377h-7.319V23.879c0-2.74-.055-6.254-3.813-6.254-3.813 0-4.4 2.977-4.4 6.057v11.7h-7.325V11.757h7.034v3.222h.1a7.707 7.707 0 0 1 6.94-3.814c7.423 0 8.788 4.888 8.788 11.237v12.975Z"></path></svg>
      </a>
    </li>
    <li>
      <a href="https://communityinviter.com/apps/interledger/interledger-working-groups-slack" aria-label="Interledger Community Slack">
        <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.377 35.377"><title>Slack</title><path d="M7.432 22.355a3.716 3.716 0 1 1-3.716-3.716h3.716Zm1.873 0a3.716 3.716 0 0 1 7.432 0v9.305a3.716 3.716 0 1 1-7.432 0Zm3.717-14.923a3.716 3.716 0 1 1 3.716-3.716v3.716h-3.716Zm0 1.873a3.716 3.716 0 1 1 0 7.432H3.716a3.716 3.716 0 1 1 0-7.432h9.305Zm14.923 3.716a3.716 3.716 0 1 1 3.716 3.716h-3.716Zm-1.873 0a3.716 3.716 0 0 1-7.432 0V3.716a3.716 3.716 0 1 1 7.432 0Zm-3.717 14.924a3.716 3.716 0 1 1-3.716 3.716v-3.716Zm0-1.873a3.716 3.716 0 1 1 0-7.432h9.305a3.716 3.716 0 0 1 0 7.432Z"></path></svg>
      </a>
    </li>
  </ul>
  <p>Copyright © Interledger Foundation. All rights reserved.</p>
  <ul class="footer-links">
    <li><a href="/">Terms & conditions</a></li>
    <li><a href="https://www.iubenda.com/privacy-policy/88624819">Privacy policy</a></li>
    <li><a href="">Contact us</a></li>
  </ul>
</footer>

<style>
  .site-footer {
    padding: var(--space-m) 0;
    margin-left: var(--space-m);
    margin-right: var(--space-m);
    text-align: center;
    border-block-start: 1px solid var(--color-primary-fallback);
    border-block-start: 1px solid var(--color-primary);
  }

  .site-footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
  }

  .site-footer a {
    text-decoration: none;
    color: var(--color-primary-fallback);
    color: var(--color-primary);
  }

  .site-footer a:hover {
    text-decoration: underline;
  }

  .social-links {
    gap: var(--space-s);
    margin-bottom: var(--space-s);
  }

  .social-links svg {
    height: 2em;
    width: 2em;
  }

  .site-footer p {
    margin-bottom: var(--space-s);
  }

  .footer-links a {
    padding: 0 var(--space-s);
    white-space:nowrap;
  }

  @media screen and (min-width: 440px) {
    .footer-links li:not(:first-of-type)::before {
      content: "|";
      display: inline;
    }
  }

  @media screen and (max-width: 439px) {
    ul.footer-links {
      display: initial;
    }

    .footer-links li {
      margin-bottom: var(--space-2xs);
    }
  }
</style>
