---
const currentYear = new Date().getFullYear()
---

<footer class="site-footer" role="contentinfo">
  <div class="connect-wrapper">
    <div class="mailing-list">
      <h3>Join our mailing list</h3>
      <a
        class="button subscribe-btn"
        href="/subscribe"
        data-umami-event="Footer link - Subscribe"
      >
        Subscribe
      </a>
    </div>
    <div class="social-links">
      <h3>Connect with us</h3>
      <ul>
        <li>
          <a
            href="https://www.youtube.com/@InterledgerFoundation"
            aria-label="Interledger's Youtube channel"
            data-umami-event="Footer - Youtube"
          >
            <svg role="img" viewBox="0 0 122 86"
              ><title>Youtube</title><path
                d="M48.594 60.743V24.297L80.156 42.52 48.594 60.743Zm70.353-47.464a15.218 15.218 0 0 0-10.741-10.74C98.732 0 60.742 0 60.742 0S22.753 0 13.279 2.539a15.215 15.215 0 0 0-10.74 10.74C0 22.753 0 42.52 0 42.52s0 19.767 2.539 29.241a15.215 15.215 0 0 0 10.74 10.74c9.474 2.539 47.463 2.539 47.463 2.539s37.99 0 47.464-2.539a15.218 15.218 0 0 0 10.741-10.74c2.538-9.474 2.538-29.241 2.538-29.241s0-19.767-2.538-29.241Z"
              ></path></svg
            >
          </a>
        </li>
        <li>
          <a
            href="https://interledger.social/about"
            aria-label="Interledger's Mastadon instance"
            data-umami-event="Footer - Mastadon"
          >
            <svg role="img" fill="none" viewBox="0 0 217 232"
              ><title>Mastadon</title><path
                fill="#000"
                fill-rule="evenodd"
                d="M154.245 176.836c29.07-3.471 54.382-21.382 57.562-37.748 5.013-25.782 4.599-62.916 4.599-62.916 0-50.33-32.975-65.082-32.975-65.082C166.804 3.454 138.254.242 108.594 0h-.729c-29.661.242-58.193 3.454-74.82 11.09 0 0-32.976 14.753-32.976 65.083 0 3.051-.016 6.26-.032 9.601-.046 9.279-.096 19.573.172 30.317 1.197 49.22 9.023 97.729 54.531 109.774 20.982 5.554 38.997 6.716 53.507 5.919 26.31-1.459 41.08-9.39 41.08-9.39l-.867-19.09s-18.803 5.929-39.919 5.206c-20.921-.718-43.007-2.256-46.391-27.943-.313-2.256-.469-4.668-.469-7.202 0 0 20.538 5.02 46.565 6.212 15.915.73 30.84-.932 45.999-2.741Zm23.265-35.818v-60.94c0-12.456-3.171-22.354-9.54-29.676-6.57-7.323-15.173-11.076-25.85-11.076-12.356 0-21.713 4.75-27.898 14.247l-6.015 10.082-6.013-10.082c-6.187-9.499-15.543-14.247-27.898-14.247-10.679 0-19.281 3.754-25.85 11.076-6.37 7.323-9.541 17.22-9.541 29.675v60.941h24.144v-59.15c0-12.469 5.246-18.797 15.74-18.797 11.602 0 17.418 7.507 17.418 22.352V117.8h24.002V85.423c0-14.845 5.815-22.352 17.417-22.352 10.494 0 15.74 6.328 15.74 18.797v59.15h24.144Z"
                clip-rule="evenodd"></path></svg
            >
          </a>
        </li>
        <li>
          <a
            href="https://x.com/interledger"
            aria-label="Interledger's X.com account"
            data-umami-event="Footer - X"
          >
            <svg role="img" viewBox="0 0 1200 1227"
              ><title>X.com</title><path
                d="M714.163 519.284 1160.89 0h-105.86L667.137 450.887 357.328 0H0l468.492 681.821L0 1226.37h105.866l409.625-476.152 327.181 476.152H1200L714.137 519.284h.026ZM569.165 687.828l-47.468-67.894-377.686-540.24h162.604l304.797 435.991 47.468 67.894 396.2 566.721H892.476L569.165 687.854v-.026Z"
              ></path></svg
            >
          </a>
        </li>
        <li>
          <a
            href="https://github.com/interledger"
            aria-label="Interledger's GitHub account"
            data-umami-event="Footer - GitHub"
          >
            <svg role="img" viewBox="0 0 34.875 34.004"
              ><title>GitHub</title><path
                d="M11.665 27.379c0 .141-.162.253-.366.253-.232.021-.394-.091-.394-.253 0-.141.162-.253.366-.253.211-.021.394.091.394.253Zm-2.187-.316c-.049.141.091.3.3.345a.33.33 0 0 0 .436-.141c.042-.141-.091-.3-.3-.366a.361.361 0 0 0-.436.162Zm3.108-.12c-.2.049-.345.183-.323.345.021.141.2.232.415.183s.345-.183.323-.323-.211-.226-.415-.205ZM17.212 0A16.86 16.86 0 0 0 0 17.156a17.628 17.628 0 0 0 11.918 16.818c.9.162 1.216-.394 1.216-.851 0-.436-.021-2.841-.021-4.317 0 0-4.922 1.055-5.955-2.1 0 0-.8-2.046-1.955-2.573 0 0-1.61-1.1.113-1.083a3.711 3.711 0 0 1 2.714 1.819 3.717 3.717 0 0 0 5.126 1.47 3.908 3.908 0 0 1 1.125-2.37c-3.93-.436-7.9-1.005-7.9-7.77a5.329 5.329 0 0 1 1.659-4.141 6.643 6.643 0 0 1 .183-4.774c1.47-.457 4.852 1.9 4.852 1.9a16.611 16.611 0 0 1 8.831 0s3.382-2.363 4.852-1.9a6.64 6.64 0 0 1 .183 4.774 5.466 5.466 0 0 1 1.814 4.141c0 6.785-4.141 7.327-8.072 7.77a4.158 4.158 0 0 1 1.2 3.263c0 2.37-.021 5.3-.021 5.878 0 .457.323 1.013 1.216.851a17.466 17.466 0 0 0 11.8-16.8C34.875 7.403 26.965 0 17.212 0ZM6.834 24.25c-.091.07-.07.232.049.366.113.112.274.162.366.07.091-.07.07-.232-.049-.366-.113-.112-.274-.161-.366-.07Zm-.759-.57c-.049.091.021.2.162.274a.209.209 0 0 0 .3-.049c.049-.091-.021-.2-.162-.274-.138-.042-.251-.021-.3.05Zm2.278 2.5c-.113.091-.07.3.091.436.162.162.366.183.457.07.091-.091.049-.3-.091-.436-.155-.158-.365-.179-.457-.066Zm-.8-1.034c-.113.07-.113.253 0 .415s.3.232.394.162a.321.321 0 0 0 0-.436c-.1-.158-.283-.228-.395-.137Z"
              ></path></svg
            >
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/interledgerfoundation/"
            aria-label="Interledger's Instagram account"
            data-umami-event="Footer - Instagram"
          >
            <svg role="img" viewBox="0 0 360 360"
              ><title>Instagram</title><path
                d="M180.006 359.582c-16.387 0-32.774.209-49.203-.084-14.711-.25-29.422-.418-44.007-2.717-17.938-2.843-34.577-8.862-48.953-20.442-17.351-14.005-27.955-32.19-32.984-53.761-2.18-9.322-3.227-18.812-3.688-28.343C-.631 217.447.207 180.659.123 143.829c-.042-13.67.461-27.34 1.132-41.052.754-16.345 3.73-32.356 10.939-47.197C23.508 32.337 41.53 16.493 66.007 8.007 76.863 4.244 88.01 2.07 99.495 1.569 115.756.9 132.018.315 148.238.148c25.314-.21 50.545-.21 75.859.083 13.789.126 27.62.71 41.367 1.84 17.561 1.421 34.283 6.228 49.162 15.969 20.159 13.168 33.11 31.688 39.438 54.89 2.85 10.492 4.191 21.152 4.736 31.979 1.928 39.965.964 79.931.922 119.896 0 13.544-.628 27.131-1.802 40.592-1.634 19.146-7.083 37.164-18.483 52.882-14.543 20.025-34.283 31.939-58.298 37.164-11.861 2.592-23.848 3.428-35.918 3.637-21.711.377-43.463.669-65.173.92-.042-.125-.042-.293-.042-.418Zm-.041-32.398v.292c20.201-.292 40.318-.501 60.52-.92 10.477-.209 20.997-.543 31.349-2.591 9.514-1.882 18.567-4.933 26.614-10.577 14.543-10.158 22.381-24.497 25.692-41.595 2.179-11.413 2.389-23.035 2.724-34.573.377-10.743.503-21.487.419-32.189-.126-28.511-.293-57.021-.629-85.532-.125-10.493-.545-20.986-2.556-31.353-2.012-10.242-5.449-19.899-11.777-28.343-10.646-14.172-25.273-21.32-42.289-24.289-10.729-1.881-21.626-2.048-32.481-2.383-11.526-.376-23.052-.46-34.577-.46-31.811.042-63.622-.46-95.474 1.046-8.634.376-17.226 1.38-25.608 3.595-16.345 4.347-29.254 13.419-37.888 28.092-6.496 10.995-9.136 23.202-9.89 35.785-.755 13.126-1.342 26.253-1.426 39.38-.168 27.382-.042 54.763.126 82.104.042 8.82.377 17.641.629 26.462.251 8.904 1.047 17.725 3.059 26.42 4.107 17.6 13.37 31.479 29.17 40.592 10.855 6.229 22.8 8.863 35.164 9.573 13.286.753 26.614 1.171 39.941 1.422 13.077.251 26.153.042 39.188.042Z"
              ></path><path
                fill="#000"
                d="M180.065 87.558c50.922-.376 93.378 42.097 92.414 94.227-.964 49.413-41.366 89.796-91.073 90.59-51.97.795-95.097-42.097-93.881-94.645 1.173-49.789 42.33-90.59 92.54-90.172Zm59.724 92.263c0-32.942-26.824-59.697-59.766-59.697-33.026 0-59.849 26.755-59.849 59.78 0 32.984 26.739 59.78 59.681 59.78 33.11.042 59.934-26.754 59.934-59.863ZM297.58 84.01c0 11.998-9.639 21.655-21.584 21.697-11.945.042-21.836-9.866-21.794-21.78.042-12.04 9.724-21.571 21.92-21.571 12.028 0 21.458 9.531 21.458 21.655Z"
              ></path></svg
            >
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/interledger-foundation/"
            aria-label="Interledger's LinkedIn account"
            data-umami-event="Footer - LinkedIn"
          >
            <svg role="img" viewBox="0 0 35.378 35.377"
              ><title>LinkedIn</title><path
                d="M7.919 35.377H.584v-23.62h7.335ZM4.248 8.535A4.268 4.268 0 1 1 8.5 4.247a4.284 4.284 0 0 1-4.252 4.288ZM35.37 35.377h-7.319V23.879c0-2.74-.055-6.254-3.813-6.254-3.813 0-4.4 2.977-4.4 6.057v11.7h-7.325V11.757h7.034v3.222h.1a7.707 7.707 0 0 1 6.94-3.814c7.423 0 8.788 4.888 8.788 11.237v12.975Z"
              ></path></svg
            >
          </a>
        </li>
        <li>
          <a
            href="https://communityinviter.com/apps/interledger/interledger-working-groups-slack"
            aria-label="Interledger Community Slack"
            data-umami-event="Footer - Slack"
          >
            <svg role="img" viewBox="0 0 35.377 35.377"
              ><title>Slack</title><path
                d="M7.432 22.355a3.716 3.716 0 1 1-3.716-3.716h3.716Zm1.873 0a3.716 3.716 0 0 1 7.432 0v9.305a3.716 3.716 0 1 1-7.432 0Zm3.717-14.923a3.716 3.716 0 1 1 3.716-3.716v3.716h-3.716Zm0 1.873a3.716 3.716 0 1 1 0 7.432H3.716a3.716 3.716 0 1 1 0-7.432h9.305Zm14.923 3.716a3.716 3.716 0 1 1 3.716 3.716h-3.716Zm-1.873 0a3.716 3.716 0 0 1-7.432 0V3.716a3.716 3.716 0 1 1 7.432 0Zm-3.717 14.924a3.716 3.716 0 1 1-3.716 3.716v-3.716Zm0-1.873a3.716 3.716 0 1 1 0-7.432h9.305a3.716 3.716 0 0 1 0 7.432Z"
              ></path></svg
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p>&copy; 2020–{currentYear}, Interledger Foundation. All rights reserved.</p>
  <ul class="footer-links">
    <li>
      <a
        href="https://www.iubenda.com/terms-and-conditions/88624819"
        data-umami-event="Footer - T&C">Terms & conditions</a
      >
    </li>
    <li>
      <a
        href="https://www.iubenda.com/privacy-policy/88624819"
        data-umami-event="Footer - Privacy">Privacy policy</a
      >
    </li>
    <li>
      <a href="/contact" data-umami-event="Footer - Contact">Contact us</a>
    </li>
  </ul>
</footer>

<style>
  .site-footer {
    padding: var(--space-m) 0;
    margin-inline: var(--space-m);
    text-align: center;
    border-block-start: 1px solid var(--color-black);
  }

  @media screen and (min-width: 780px) {
    .connect-wrapper {
      display: flex;
      gap: var(--space-xl);
      justify-content: center;
    }

    .site-footer h3 {
      text-align: left;
    }
  }

  .site-footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
  }

  .site-footer h3 {
    color: currentColor;
    margin-block-end: var(--space-2xs);
  }

  .social-links h3 {
    margin-block-end: var(--space-2xs);
  }

  .social-links ul {
    gap: var(--space-s);
    margin-block-end: var(--space-s);
    flex-wrap: wrap;
  }

  .social-links li {
    flex: none;
  }

  .social-links svg {
    height: 2em;
    width: 2em;
    transition: transform 200ms ease-in-out;
  }

  .social-links a:hover svg {
    transform: scale(1.15);
  }

  .site-footer p {
    margin-block-end: var(--space-3xs);
  }

  .site-footer .subscribe-btn {
    display: flex;
    margin-block-end: var(--space-s);
    justify-content: center;
    align-items: center;
    margin-block-end: var(--space-s);
    box-shadow: none;
    border: 1px solid var(--color-gray);
    max-width: 10em;
    margin-inline: auto;
    background-color: var(--color-gray);
    color: var(--color-white);
    border-radius: var(--border-radius);
    padding-inline: var(--space-xs);
    padding-block: var(--space-3xs);
    font-size: var(--step--1);
    cursor: pointer;
    text-decoration: none;
    transition: transform 200ms ease-in-out;
  }

  .site-footer .subscribe-btn:hover {
    transform: scale(1.15);
  }

  .mailing-list h3 {
    margin-block-end: var(--space-2xs);
  }

  .footer-links a {
    padding: 0 var(--space-s);
    white-space: nowrap;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 2px;
  }

  .footer-links a:hover {
    text-decoration-style: solid;
    color: var(--color-black);
  }

  @media screen and (max-width: 479px) {
    ul.footer-links {
      display: initial;
    }

    .footer-links li {
      margin-block-end: var(--space-2xs);
    }
  }

  @media screen and (min-width: 480px) {
    .footer-links li:not(:first-of-type)::before {
      content: '|';
      display: inline;
    }
  }
</style>
