---
import LanderLayout from '../layouts/LanderLayout.astro';
import Section from '../components/pages/Section.astro';
---

<LanderLayout title="Hacktoberfest 2023">
	<main>
		<Section class="padding--large hero align--center">
			<header>
				<h1>Hacktoberfest with Interledger</h1>
				<img src="/developers/img/lander/hacktober10.svg" alt="Hacktoberfest10" class="logo--hacktober" />
				<div class="vision">
					<p>Our vision is a world where sending payments is as easy as sending an email. This means transactions are not limited to particular banks, mobile money providers, or borders.</p>
					<p>Because we strive to be open, inclusive, and innovative in everything we do, we have provided a neutral home for the <a href="https://interledger.org/developers/rfcs/interledger-protocol/">Interledger Protocol</a> and the <a href="https://openpayments.guide/">Open Payments</a> and <a href="https://webmonetization.org/">Web Monetization</a> standards.</p>
				</div>
			</header>
		</Section>

		<Section >
			<div class="intro-grid">
				<div class="intro-grid__text1">
					<p>
            The <a href="https://interledger.org/developers/rfcs/interledger-protocol/">Interledger Protocol</a> has arisen from a need to solve the complexity of global payments. It’s an open, neutral protocol for transferring money based on TCP/IP, the protocol that defines the Internet. It was designed for sending cross-border, cross-currency, instant payments. We provide standards (like <a href="https://openpayments.guide/">Open Payments</a> and <a href="https://webmonetization.org/">Web Monetization</a>) and tools (like <a href="https://rafiki.dev/">Rafiki</a>) that lower the barrier for financial services to adopt ILP and increase access to digital financial services.
          </p>
        </div>
        <div class="intro-grid__text2">
          <p>
            Here at Interledger, Hacktoberfest is something genuinely close to our hearts. We’re building on our work from last year, when we hosted our first Hacktoberfest campaign, and the community rallied behind us with incredible contributions.
          </p>
          <p>
            This year, we’re thrilled to make the “Hacktoberfest with Interledger” month even more engaging with a mentorship program, a richer learning experience, and some amazing rewards!
          </p>
        </div>
				<div class="intro-grid__img">
					<img src="/developers/img/lander/hacktober-laptop.svg" alt="Illustration of a laptop with the Hacktoberfest10 logo on the screen" />
				</div>
			</div>
		</Section>

		<Section class="padding--large">
			<h2>About Hacktoberfest</h2>
			<p>
        <a href="https://hacktoberfest.com/" target="_blank">Hacktoberfest</a> is an annual event that promotes open-source contributions throughout October. It aims to support and give back to open-source projects that underpin today’s tech infrastructure. Over the past decade, thousands of coders and non-coders have joined to support their favorite projects, improve their skills, and connect with like-minded open-source enthusiasts.
      </p>
		</Section>

		<Section>
      <h2>Ways to Get Involved</h2>
      <p>
        You can contribute to Interledger in various ways, and all accepted contributions receive Interledger Swag! We’ve got a tiered rewards system that we hope will show our appreciation for the hard work that goes into being an open-source contributor.
      </p>
		</Section>

		<Section>
      <div class="two-col">
        <div>
          <h3>Contribute to Open Issues</h3>
          <p>
            Explore our curated list of <a
						href="https://github.com/search?q=topic%3Ahacktoberfest+org%3Ainterledger+fork%3Atrue+repo%3Awicg%2Fwebmonetization&type=repositories"
						target="_blank">Hacktoberfest issues</a
					>, ready for you to pick up.
          </p>
          <p>Please refer to the Contribution guide in the participating repositories for more details.</p>
        </div>
        <div>
          <h3>Hacktoberfest with Interledger Events</h3>
          <p>Organize or Join us for exciting Hacktoberfest events throughout the month. If you want to host a “Hacktoberfest with Interledger” pop-up event, we’ll support you and help you spread the word.</p>
					<p>Fill up this <a href="https://forms.gle/FnUGAuKhdwovg6Wz5" target="_blank">form</a> and we will get back to you shortly.</p>
        </div>
      </div>
    </Section>

		<Section class="padding--large">
			<div class="two-col">
				<div class="two-col__img">
					<img src="/developers/img/lander/mac.svg" alt="Illustration of a desktop displaying the code for spinning up a XRP settlement engine" />
				</div>
				<div>
          <h2>We're Here to Help You</h2>
          <p>Whether you're a seasoned contributor or just starting out, our community is here to support you.</p>
          <p>
            Join us on <a href="https://github.com/interledger" target="_blank">GitHub</a> and <a
              href="https://communityinviter.com/apps/interledger/interledger-working-groups-slack"
              target="_blank">Slack</a
            > to get assistance, collaborate with others, and make the most of your Hacktoberfest journey. Say hello to us on
            "#Hacktoberfest" channel on slack.
          </p>
          <p>We look forward to your contributions and celebrating open source together!</p>
        </div>
			</div>
		</Section>
	</main>
</LanderLayout>

<style>
	.logo--hacktober {
		margin: var(--space-s) auto;
		width: 4em;
		display: block;
	}

	.vision {
		max-width: 38em;
		margin-inline: auto;
	}

	.intro-grid {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		grid-template-areas: 'text1 text1' 'text2 text2' 'img img';
	}

	@media screen and (min-width: 640px) {
		.intro-grid {
			grid-template-areas: 'text1 text1' 'text2 img';
		}
	}

	@media screen and (min-width: 900px) {
		.intro-grid {
			grid-template-areas: 'text1 img' 'text2 img';
		}

		.intro-grid__img {
			align-self: center;
		}
	}

	.intro-grid__text1 {
		grid-area: text1;
	}

	.intro-grid__text2 {
		grid-area: text2;
	}

	.intro-grid__img {
		grid-area: img;
		justify-self: center;
	}

	.two-col {
		display: grid;
		gap: var(--space-m);
		align-items: center;
	}

	@media screen and (max-width: 639px) {
		.two-col__img {
			text-align: center;
		}
	}
	
	@media screen and (min-width: 640px) {
		.two-col {
			grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		}
	}

	.padding--small {
		padding-block: var(--space-s);
	}

	.padding--large {
		padding-block: var(--space-xl);
	}

	.align--center {
		text-align: center;
	}

	h2, h3 {
		margin-block-end: var(--space-s);
	}
	
	p {
		margin-block-end: var(--space-xs);
	}
</style>
