---
import Search from '@astrojs/starlight/components/Search.astro'
import SocialIcons from '@astrojs/starlight/components/SocialIcons.astro'
import ThemeSelect from '@astrojs/starlight/components/ThemeSelect.astro'
import DevelopersLogo from './logos/DevelopersLogo.astro'
---

<div class="header sl-flex">
  <a href="/" class="site-title">
    <DevelopersLogo />
  </a>
  <a href="/" class="home-link overflower">
    <span
      class="overflower-short"
      aria-hidden="true"
      title="Interledger Foundation"
    >
      ILF
    </span>
    <span class="overflower-long"> Interledger Foundation </span>
  </a>
  <Search />
  <div class="sl-hidden md:sl-flex secondary-wrap">
    <SocialIcons />
    <ThemeSelect />
  </div>
</div>

<style>
  :global(header) {
    border-block-start: 2px solid var(--color-primary-fallback);
    border-block-start: 2px solid var(--color-primary);
    box-shadow: 0px 0px 12px -4px var(--color-primary-fallback);
    box-shadow: 0px 0px 12px -4px var(--color-primary);
  }

  .header {
    gap: var(--sl-nav-gap);
    align-items: center;
    height: 100%;
  }

  .site-title {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
  }

  .site-title svg {
    width: 9.5em;
    flex: none;
  }

  .overflower {
    display: inline-flex;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    margin-inline-start: auto;
    height: 1.5em;
  }

  .overflower-short {
    display: block;
    overflow: hidden;
    flex: 1 1 auto;
    width: 0;
    text-overflow: ellipsis;
    text-align: right;
  }

  .overflower-long {
    display: inline;
    flex: 0 1 100%;
  }

  .home-link {
    color: var(--color-primary-fallback);
    color: var(--color-primary);
    text-decoration: none;
  }

  :global([data-theme='dark']) .home-link {
    color: var(--sl-color-text-accent);
  }

  .home-link:hover {
    text-decoration: underline;
  }

  .secondary-wrap {
    align-items: center;
    gap: var(--space-s);
  }

  :global(site-search > button[data-open-modal]) {
    width: auto;
  }
</style>
