---
const { class: className } = Astro.props
---

<svg role="img" class={className} fill="none" viewBox="0 0 1038 253"
  ><title>Interledger logo (full color)</title><path
    class="logo-text"
    fill="#000"
    d="M314.843 185.64v-116h12.91v116h-12.91Zm48.28 0h-12.57v-83.82h12.4v5.87c9.05-5.03 17.71-7.54 25.98-7.54 11.17 0 18.69 3.02 22.55 9.05 3.86 6.03 5.78 16.76 5.78 32.19v44.25h-12.4v-43.92c0-11.62-1.15-19.58-3.44-23.89-2.29-4.3-7.18-6.45-14.67-6.45-3.58 0-7.35.53-11.32 1.59-3.97 1.06-7.01 2.1-9.14 3.1l-3.18 1.51v68.06h.01Zm117-72.92h-26.65v40.06c0 9.61.7 15.92 2.1 18.94 1.4 3.02 4.72 4.53 9.97 4.53l14.92-1.01.84 10.39c-7.49 1.23-13.19 1.84-17.1 1.84-8.72 0-14.75-2.12-18.1-6.37-3.35-4.25-5.03-12.35-5.03-24.31V112.7h-11.9v-10.9h11.9V76.18h12.4v25.65h26.65v10.89Zm69.07 62.53 4.86-.5.34 9.89c-12.74 1.79-23.64 2.68-32.69 2.68-12.07 0-20.62-3.49-25.65-10.48-5.03-6.98-7.54-17.85-7.54-32.6 0-29.39 11.68-44.09 35.03-44.09 11.29 0 19.72 3.16 25.31 9.47 5.59 6.31 8.38 16.23 8.38 29.75l-.67 9.56h-55.32c0 9.28 1.68 16.15 5.03 20.62 3.35 4.47 9.19 6.71 17.52 6.71 8.32 0 16.79-.34 25.4-1.01Zm-4.53-36.38c0-10.28-1.65-17.54-4.95-21.79-3.3-4.25-8.66-6.37-16.09-6.37s-13.02 2.24-16.76 6.71c-3.75 4.47-5.67 11.62-5.78 21.46h43.58v-.01Zm28.83 46.77v-83.82h12.4v11.4c9.72-6.71 19.95-11.12 30.68-13.24v12.74c-4.69.9-9.58 2.29-14.67 4.19-5.09 1.9-8.97 3.58-11.65 5.03l-4.19 2.18v61.52h-12.57Zm55.65 0V65.28h12.57v120.36h-12.57Zm91.36-10.39 4.86-.5.34 9.89c-12.74 1.79-23.64 2.68-32.69 2.68-12.07 0-20.62-3.49-25.65-10.48-5.03-6.98-7.54-17.85-7.54-32.6 0-29.39 11.68-44.09 35.03-44.09 11.29 0 19.72 3.16 25.31 9.47 5.59 6.31 8.38 16.23 8.38 29.75l-.67 9.56h-55.32c0 9.28 1.68 16.15 5.03 20.62 3.35 4.47 9.19 6.71 17.52 6.71 8.329 0 16.79-.34 25.4-1.01Zm-4.53-36.38c0-10.28-1.65-17.54-4.95-21.79-3.3-4.25-8.66-6.37-16.09-6.37s-13.02 2.24-16.76 6.71c-3.75 4.47-5.67 11.62-5.78 21.46h43.58v-.01Zm93.2-73.59v120.36h-12.4v-5.7c-8.61 4.92-17.1 7.38-25.48 7.38-4.47 0-8.38-.56-11.73-1.68-3.35-1.12-6.48-3.13-9.39-6.03-6.03-6.03-9.05-17.18-9.05-33.44 0-16.26 2.71-27.99 8.13-35.2 5.42-7.21 14.39-10.81 26.9-10.81 6.48 0 13.35.73 20.62 2.18V65.28h12.4Zm-43.58 109.63c2.01.78 4.61 1.17 7.8 1.17 3.18 0 6.76-.53 10.73-1.59 3.97-1.06 7.07-2.1 9.3-3.1l3.35-1.51v-56.83c-7.15-1.34-13.8-2.01-19.95-2.01-8.49 0-14.42 2.71-17.77 8.13-3.35 5.42-5.03 13.83-5.03 25.23 0 12.97 1.95 21.68 5.87 26.15 1.79 2.13 3.69 3.58 5.7 4.36Zm96.89 50.13c-13.41 0-22.77-1.82-28.08-5.45-5.31-3.63-7.96-10.25-7.96-19.86 0-4.58 1.01-8.3 3.02-11.15 2.01-2.85 5.42-6.06 10.23-9.64-3.131-2.12-4.69-5.98-4.69-11.57 0-1.9 1.4-5.42 4.19-10.56l1.51-2.68c-8.831-4.02-13.24-12.46-13.24-25.31 0-19.11 10.449-28.66 31.349-28.66 5.36 0 10.341.56 14.921 1.68l2.51.5 24.809-.67v10.73l-15.919-.34c3.69 3.69 5.529 9.28 5.529 16.76 0 10.51-2.599 17.85-7.799 22.04-5.2 4.19-13.381 6.29-24.561 6.29-3.02 0-5.759-.22-8.209-.67-2.01 4.92-3.02 8.1-3.02 9.55 0 3.47 1.06 5.62 3.19 6.45 2.12.84 8.549 1.26 19.279 1.26s18.44 1.68 23.13 5.03c4.69 3.35 7.041 9.89 7.041 19.61-.02 17.77-12.42 26.66-37.23 26.66Zm-23.64-26.32c0 5.92 1.65 10.03 4.94 12.32 3.3 2.29 9.389 3.44 18.269 3.44 8.88 0 15.25-1.23 19.11-3.69 3.86-2.46 5.781-6.57 5.781-12.32 0-5.76-1.4-9.47-4.19-11.15-2.79-1.68-8.271-2.51-16.43-2.51l-18.1-.84c-3.69 2.68-6.18 5.03-7.46 7.04-1.27 2.01-1.92 4.58-1.92 7.71Zm1.18-69.9c0 6.6 1.48 11.29 4.44 14.08 2.96 2.79 7.85 4.19 14.67 4.19s11.679-1.4 14.58-4.19c2.9-2.79 4.36-7.51 4.36-14.16s-1.451-11.37-4.36-14.16c-2.91-2.79-7.77-4.19-14.58-4.19-6.82 0-11.71 1.42-14.67 4.27-2.96 2.84-4.44 7.56-4.44 14.16Zm129.909 46.43 4.86-.5.341 9.89c-12.74 1.79-23.641 2.68-32.69 2.68-12.071 0-20.62-3.49-25.651-10.48-5.03-6.98-7.539-17.85-7.539-32.6 0-29.39 11.68-44.09 35.03-44.09 11.29 0 19.72 3.16 25.31 9.47 5.59 6.31 8.38 16.23 8.38 29.75l-.671 9.56h-55.319c0 9.28 1.68 16.15 5.03 20.62 3.35 4.47 9.19 6.71 17.52 6.71s16.79-.34 25.399-1.01Zm-4.529-36.38c0-10.28-1.65-17.54-4.95-21.79-3.3-4.25-8.66-6.37-16.09-6.37s-13.02 2.24-16.76 6.71c-3.75 4.47-5.671 11.62-5.78 21.46h43.58v-.01Zm28.83 46.77v-83.82h12.397v11.4c9.72-6.71 19.95-11.12 30.68-13.24v12.74c-4.69.9-9.58 2.29-14.67 4.19-5.09 1.9-8.97 3.58-11.65 5.03l-4.19 2.18v61.52h-12.567Z"
  ></path><path
    fill="#fff"
    d="M213.693 156.59c5.95-18.14 3.57-38.44 0-55.89-7.47-15.94-16.841-32.76-32.211-43.82-15.58-11.22-35.35-15.21-53.199-17.24-17.61 2.12-36.75 5.12-52.12 16.18-15.57 11.21-25.42 29.25-32.88 45.44-3.4 17.25-5.87 37.43 0 55.33 5.95 18.14 19.64 31.78 32.88 43.82 15.5 8.54 33.05 16.8 52.05 16.8 19.25 0 37.619-8.4 53.269-17.15 12.991-11.98 26.341-25.57 32.211-43.47Z"
  ></path><path
    fill="#B4EEE0"
    d="M128.513 213.81c-18.99 0-36.84-4.87-52.35-13.4.6 12.04 24.15 26.31 52.75 26.31s50.82-17.54 52.57-26.66c-15.65 8.75-33.72 13.75-52.97 13.75Z"
  ></path><path
    fill="#D3D6E2"
    d="M76.162 200.41c-13.24-12.04-23.62-27.53-29.57-45.67-5.87-17.9-6.72-36.22-3.31-53.47-10.39 2.47-15.9 37.49-8.95 57.84 6.95 20.33 31.5 45.74 41.83 41.3Z"
  ></path><path
    fill="#FFC9DD"
    d="M77.983 59.28c15.37-11.06 32.689-17.52 50.299-19.64-8.56-7.49-43.23-1.95-58.28 9.44-15.05 11.39-32.79 41.52-26.72 52.19 7.47-16.21 19.12-30.78 34.7-41.99Z"
  ></path><path
    fill="#FFEBB2"
    d="M128.283 39.64a107.887 107.887 0 0 1 51.01 19.73c15.37 11.06 26.92 25.39 34.39 41.33 6.46-10.85-7.95-39.51-27.06-52-19.11-12.49-53.47-15.75-58.34-9.06Z"
  ></path><path
    fill="#C6E4A2"
    d="M213.692 100.69c3.57 17.45 2.78 36.03-3.17 54.17a106.337 106.337 0 0 1-29.04 45.19c14.76 1.41 35.26-18.03 41.55-41.58 6.29-23.54-.13-56.52-9.34-57.78Z"
  ></path><path
    fill="#A4BFDD"
    d="M34.333 159.1c-6.3 7.88 1.67 41.03 28.36 59.8 26.69 18.77 60.37 14.68 66.22 7.81-19.68-3.75-37.99-12.89-52.75-26.3-17.51-9.65-32.03-23.99-41.83-41.31Z"
  ></path><path
    fill="#99E2D1"
    d="M223.033 158.47c-9.68 17.39-24.1 31.82-41.55 41.58-14.67 13.52-32.92 22.78-52.57 26.66 7.05 8.5 45.4 4.2 66.16-8.24 20.76-12.44 31.99-49.2 27.96-60Z"
  ></path><path
    fill="#FFA7B3"
    d="M43.282 101.26c3.85-19.49 13.13-37.6 26.72-52.19-13.97-5.11-40.43 18.05-48.64 45.2-8.21 27.15-1.61 58.22 12.97 64.82-2.48-19.7.63-39.78 8.95-57.83Z"
  ></path><path
    fill="#FCA"
    d="M128.283 39.64c19.9-2.39 40.149.75 58.339 9.05 5.97-11.2-31.929-31.87-58.409-31.87s-57.76 18.11-58.21 32.25c18.15-8.43 38.379-11.7 58.28-9.43Z"
  ></path><path
    fill="#E9D59E"
    d="M223.033 158.47c12.61-2.43 21.99-33.46 12.54-64.89-9.46-31.43-38.72-48.12-48.94-44.89 13.7 14.5 23.089 32.55 27.069 52 8.44 18.01 11.68 38.07 9.331 57.78Z"
  ></path><path
    fill="#A499D7"
    d="M62.693 218.9c-3.03-3.21-5.9-6.64-8.57-10.29-11.09-15.13-17.6-32.18-19.78-49.51-8.73-15.43-13.71-33.23-13.71-52.19 0-4.27.26-8.49.75-12.63-10.12 2.79-22.33 42.95-11.25 72.7 11.07 29.76 43.17 53.59 52.56 51.92Z"
  ></path><path
    fill="#56B8B6"
    d="M195.073 218.47c-4.02 1.87-8.201 3.51-12.531 4.9-17.95 5.78-36.319 6.64-53.629 3.34-17.52 3.46-36.14 2.65-54.33-3.21-4.1-1.32-8.07-2.87-11.89-4.61 4.75 14.47 28.86 33.06 66.31 33.06 37.449.01 59.14-18.22 66.07-33.48Z"
  ></path><path
    fill="#68C280"
    d="M235.562 93.58c.55 4.36.83 8.81.83 13.32 0 18.7-4.85 36.28-13.37 51.57-2.09 17.58-8.62 34.88-19.87 50.21-2.54 3.45-5.24 6.72-8.1 9.78 17.34 1.12 42.89-17.84 52.23-52.27 9.34-34.43-2.31-68.38-11.72-72.61Z"
  ></path><path
    fill="#FF7A7F"
    d="M21.372 94.27c2.15-3.85 4.55-7.62 7.23-11.26 11.09-15.13 25.44-26.52 41.4-33.94 12.12-13 27.66-23.19 45.86-29.05 4.1-1.32 8.23-2.38 12.35-3.2-14.64-7.25-50.41-2.95-73.26 11.87-22.84 14.82-37.78 51.6-33.58 65.58Z"
  ></path><path
    fill="#FFBA86"
    d="M128.213 16.83c4.36.83 8.72 1.94 13.04 3.33 17.95 5.78 33.32 15.78 45.37 28.53 16.22 7.4 30.81 18.9 42.05 34.24 2.53 3.46 4.83 7.02 6.89 10.65 6.6-12.47-13.43-49.97-34.03-65.37-20.6-15.4-57.97-18.25-73.32-11.38Z"
  ></path><path
    fill="#835283"
    d="M21.372 94.27c3.06-25.79 15.38-48.76 33.59-65.58-22.76 12.7-40.95 33.56-49.65 60.1-8.79 26.79-6.32 54.53 4.81 78.18-4.91-24.18-1.42-49.98 11.25-72.7Z"
  ></path><path
    fill="#8075B4"
    d="M62.693 218.9a107.105 107.105 0 0 1-52.56-51.92c5.16 25.36 19.55 48.95 42.34 65.36 22.99 16.55 50.38 22.8 76.53 19.62-24.74-2.84-48.42-14.11-66.31-33.06Z"
  ></path><path
    fill="#2E9D87"
    d="M195.073 218.47c-17.77 19.08-41.37 30.49-66.07 33.49 25.93 2.99 53.03-3.3 75.82-19.7 22.99-16.56 37.45-40.43 42.48-66.06-10.38 22.43-28.51 41.27-52.23 52.27Z"
  ></path><path
    fill="#549558"
    d="M235.563 93.58c12.82 22.65 16.48 48.41 11.73 72.62 10.87-23.52 13.22-50.99 4.51-77.53-8.78-26.79-27.22-47.79-50.27-60.45 18.33 16.7 30.8 39.61 34.03 65.36Z"
  ></path><path
    fill="#FF9952"
    d="M128.213 16.83c25.7-5.08 51.56-.57 73.32 11.39C182.323 10.7 156.673 0 128.513 0c-28.42 0-54.28 10.9-73.55 28.7 21.69-12.11 47.53-16.79 73.25-11.87Z"
  ></path></svg
>
