---
const { class: className } = Astro.props
---

<svg role="img" class={className} fill="none" viewBox="0 0 1074 290"
  ><title>Interledger Foundation logo</title><path
    class="logo-text"
    fill="#000"
    d="M370.221 43.127H358v109.831h12.221V43.126ZM406.883 152.958h-11.904V73.6h11.746v5.555c8.57-4.764 16.77-7.142 24.601-7.142 10.579 0 17.696 2.857 21.347 8.57 3.649 5.713 5.474 15.873 5.474 30.473v41.902h-11.743v-41.586c0-11.004-1.087-18.54-3.254-22.617-2.17-4.07-6.8-6.11-13.886-6.11-3.39 0-6.961.506-10.715 1.509-3.757 1.006-6.642 1.984-8.651 2.937l-3.015 1.428v64.439ZM520.842 83.917h-25.235v37.935c0 9.097.659 15.075 1.984 17.934 1.32 2.857 4.469 4.285 9.443 4.285l14.125-.953.795 9.84c-7.092 1.164-12.489 1.748-16.19 1.748-8.253 0-13.967-2.012-17.14-6.033-3.176-4.018-4.763-11.69-4.763-23.015v-41.74h-11.268V73.601h11.268V49.316h11.746v24.288h25.235v10.314ZM585.122 108.677c0-9.734-1.561-16.612-4.682-20.633-3.124-4.018-8.2-6.03-15.236-6.03-7.04 0-12.327 2.118-15.873 6.347-3.546 4.235-5.372 11.007-5.475 20.316h41.266Zm4.285 34.444 4.602-.478.32 9.365c-12.063 1.692-22.381 2.537-30.951 2.537-11.427 0-19.522-3.304-24.285-9.918-4.76-6.61-7.141-16.903-7.141-30.87 0-27.827 11.057-41.744 33.174-41.744 10.684 0 18.674 2.99 23.965 8.967 5.287 5.98 7.933 15.373 7.933 28.172l-.633 9.048h-52.376c0 8.785 1.586 15.293 4.76 19.522 3.176 4.235 8.703 6.35 16.587 6.35 7.88 0 15.898-.317 24.045-.951ZM615.592 152.958V73.6h11.746v10.793c9.207-6.35 18.888-10.53 29.045-12.538v12.063c-4.444.847-9.073 2.167-13.886 3.965-4.819 1.8-8.492 3.39-11.032 4.763l-3.968 2.062v58.25h-11.905ZM683.365 39H671.46v113.958h11.905V39ZM756.849 108.677c0-9.734-1.562-16.612-4.683-20.633-3.123-4.018-8.2-6.03-15.236-6.03-7.039 0-12.327 2.118-15.873 6.347-3.546 4.235-5.372 11.007-5.474 20.316h41.266Zm4.285 34.444 4.602-.478.319 9.365c-12.063 1.692-22.381 2.537-30.951 2.537-11.426 0-19.521-3.304-24.284-9.918-4.76-6.61-7.142-16.903-7.142-30.87 0-27.827 11.057-41.744 33.174-41.744 10.685 0 18.674 2.99 23.965 8.967 5.288 5.98 7.934 15.373 7.934 28.172l-.634 9.048h-52.376c0 8.785 1.587 15.293 4.76 19.522 3.177 4.235 8.704 6.35 16.587 6.35 7.881 0 15.898-.317 24.046-.951ZM807.001 142.801c1.907.743 4.366 1.109 7.381 1.109 3.015 0 6.399-.5 10.156-1.506 3.757-1.003 6.692-1.984 8.809-2.934l3.177-1.429V84.237c-6.772-1.273-13.069-1.91-18.888-1.91-8.042 0-13.65 2.572-16.823 7.701-3.177 5.133-4.763 13.094-4.763 23.887 0 12.274 1.85 20.531 5.554 24.76 1.693 2.009 3.494 3.387 5.397 4.126ZM848.27 39v113.958h-11.746v-5.397c-8.151 4.658-16.19 6.984-24.126 6.984-4.233 0-7.937-.531-11.11-1.587-3.174-1.053-6.139-2.962-8.89-5.71-5.71-5.717-8.57-16.271-8.57-31.668 0-15.395 2.565-26.505 7.701-33.33 5.129-6.825 13.621-10.237 25.473-10.237 6.133 0 12.641.69 19.522 2.065V39h11.746ZM880.644 99.154c0 6.244 1.4 10.687 4.204 13.333 2.804 2.645 7.433 3.965 13.889 3.965 6.452 0 11.057-1.32 13.808-3.965 2.751-2.646 4.129-7.117 4.129-13.41 0-6.298-1.378-10.77-4.129-13.415-2.751-2.642-7.356-3.968-13.808-3.968-6.456 0-11.085 1.35-13.889 4.049-2.804 2.698-4.204 7.166-4.204 13.41Zm-1.112 66.184c0 5.607 1.562 9.495 4.682 11.665 3.121 2.171 8.89 3.254 17.302 3.254 8.411 0 14.441-1.164 18.093-3.493 3.651-2.329 5.477-6.216 5.477-11.665 0-5.45-1.326-8.965-3.968-10.555-2.649-1.586-7.834-2.381-15.556-2.381l-17.143-.792c-3.49 2.54-5.847 4.763-7.061 6.667-1.217 1.903-1.826 4.334-1.826 7.3Zm22.381 24.921c-12.699 0-21.561-1.724-26.585-5.161-5.03-3.44-7.542-9.706-7.542-18.807 0-4.338.953-7.856 2.859-10.554 1.904-2.698 5.13-5.741 9.679-9.129-2.962-2.006-4.444-5.657-4.444-10.948 0-1.798 1.323-5.133 3.969-10.002l1.431-2.537c-8.362-3.812-12.541-11.799-12.541-23.967 0-18.093 9.893-27.141 29.681-27.141 5.08 0 9.784.53 14.125 1.59l2.381.474 23.49-.636v10.156l-15.078-.316c3.493 3.493 5.238 8.784 5.238 15.873 0 9.945-2.459 16.9-7.381 20.872-4.918 3.965-12.671 5.952-23.25 5.952-2.86 0-5.453-.214-7.778-.636-1.904 4.657-2.857 7.672-2.857 9.048 0 3.279 1.003 5.316 3.015 6.107 2.009.795 8.095 1.193 18.255 1.193 10.156 0 17.456 1.586 21.899 4.76 4.444 3.176 6.667 9.364 6.667 18.571 0 16.823-11.743 25.238-35.233 25.238ZM1002.54 108.677c0-9.734-1.56-16.612-4.685-20.633-3.123-4.018-8.2-6.03-15.236-6.03-7.039 0-12.327 2.118-15.873 6.347-3.546 4.235-5.372 11.007-5.474 20.316h41.268Zm4.28 34.444 4.6-.478.32 9.365c-12.059 1.692-22.377 2.537-30.947 2.537-11.426 0-19.521-3.304-24.284-9.918-4.76-6.61-7.142-16.903-7.142-30.87 0-27.827 11.057-41.744 33.174-41.744 10.685 0 18.679 2.99 23.969 8.967 5.28 5.98 7.93 15.373 7.93 28.172l-.63 9.048h-52.38c0 8.785 1.587 15.293 4.76 19.522 3.177 4.235 8.704 6.35 16.587 6.35 7.881 0 15.898-.317 24.043-.951ZM1033.01 152.958V73.6h11.75v10.793c9.2-6.35 18.89-10.53 29.04-12.538v12.063c-4.44.847-9.07 2.167-13.88 3.965-4.82 1.8-8.5 3.39-11.04 4.763l-3.96 2.062v58.25h-11.91ZM393.087 203.856h-25.909v13.538h23.63v7.877h-23.63v15.56H358v-44.918h35.087v7.943ZM423.939 203.204c-10.026 0-16.535 5.794-16.535 15.103 0 9.244 6.509 15.038 16.6 15.038 9.961 0 16.404-5.794 16.404-15.038 0-9.309-6.443-15.103-16.469-15.103Zm-.065 38.409c-16.016 0-25.844-8.983-25.844-23.241 0-14.255 9.893-23.241 25.909-23.241 16.015 0 25.908 8.986 25.908 23.241 0 14.258-9.958 23.241-25.973 23.241ZM504.204 218.502c0 14.259-7.095 23.111-22.98 23.111-15.882 0-22.459-8.008-22.459-23.111v-22.586h9.179v22.586c0 9.961 4.427 14.842 13.867 14.842 8.983 0 13.41-5.011 13.41-14.842v-22.586h8.983v22.586ZM560.181 240.831h-9.244l-26.235-30.985h-.13v30.985h-9.178v-44.918h9.243l26.235 30.988h.13v-30.988h9.179v44.918ZM590.841 203.856h-10.026v28.905h10.026c14.063 0 19.726-5.341 19.726-14.65 0-9.244-5.403-14.255-19.726-14.255Zm.522 36.975h-19.727v-44.918h19.727c19.661 0 28.644 7.359 28.644 22.133 0 14.128-8.853 22.785-28.644 22.785ZM647.539 204.505h-.131l-7.356 17.577h14.973l-7.486-17.577Zm25.321 36.326h-10.023l-5.207-12.175h-20.313l-5.077 12.175h-9.83l20.245-44.918h10.026l20.179 44.918ZM716.734 203.856h-19.009v36.975h-9.178v-36.975h-18.944v-7.943h47.131v7.943ZM724.282 195.913h9.179v44.918h-9.179v-44.918ZM769.132 203.204c-10.026 0-16.534 5.794-16.534 15.103 0 9.244 6.508 15.038 16.599 15.038 9.961 0 16.404-5.794 16.404-15.038 0-9.309-6.443-15.103-16.469-15.103Zm-.065 38.409c-16.016 0-25.843-8.983-25.843-23.241 0-14.255 9.892-23.241 25.908-23.241 16.016 0 25.909 8.986 25.909 23.241 0 14.258-9.958 23.241-25.974 23.241ZM849.005 240.831h-9.243l-26.235-30.985h-.13v30.985h-9.179v-44.918h9.244l26.234 30.988h.131v-30.988h9.178v44.918Z"
  ></path><path
    fill="#815281"
    d="M97.191 248.394c-21.424-10.557-39.122-27.013-50.3-47.505-18.94-13.351-33.533-32.602-40.985-54.957C2.491 156.799.628 168.597.628 180.396c0 27.634 10.246 52.473 27.013 71.724 5.9 6.52 12.42 12.73 19.56 17.698C65.212 282.548 87.256 290 111.164 290c12.73 0 24.84-2.173 36.328-6.21-20.182-6.831-37.57-19.25-50.3-35.396Z"
  ></path><path
    fill="#8075B2"
    d="M196.858 247.773c.311 0 .311 0 0 0-15.214 7.452-31.98 11.488-49.989 11.799-18.008 0-34.775-4.037-49.99-11.178h-.31c13.041 16.146 30.118 28.565 50.3 35.396 20.182-7.141 37.259-19.871 49.989-36.017Z"
  ></path><path
    fill="#A2BDDB"
    d="M97.191 248.394c15.215 7.141 31.981 11.178 49.99 11.178 18.008 0 34.775-4.347 49.989-11.799-17.698-4.036-34.465-10.246-49.989-18.629a211.193 211.193 0 0 1-49.99 19.25Z"
  ></path><path
    fill="#56B6B4"
    d="M287.213 144.379c3.726 10.867 5.589 22.356 5.589 34.465 0 27.634-9.626 52.783-26.392 72.034-5.589 6.831-12.109 12.73-19.251 18.009-18.008 13.04-40.053 20.803-63.651 20.803-12.73 0-24.839-2.174-36.327-5.9 19.871-7.141 36.948-19.561 49.678-36.017 21.114-10.557 38.502-27.323 49.679-47.816 18.94-13.972 33.223-33.223 40.675-55.578Z"
  ></path><path
    fill="#2E9B85"
    d="M246.538 89.422c9.004 16.146 13.972 34.775 14.283 54.647 0 20.182-4.968 39.122-13.972 55.578 18.629-13.662 32.912-32.912 40.364-55.578-7.452-22.045-22.045-41.296-40.675-54.647Z"
  ></path><path
    fill="#80D3BD"
    d="M246.848 199.647c9.005-16.456 13.972-35.396 13.972-55.578 0-19.872-5.278-38.501-14.282-54.647-3.416 19.561-9.625 38.191-18.319 55.268 8.694 17.077 15.214 35.396 18.629 54.957Z"
  ></path><path
    fill="#97E0CF"
    d="M228.219 144.689c-2.794 5.589-5.899 11.178-9.315 16.457-14.282 22.665-33.222 42.227-55.578 57.441-5.278 3.726-10.867 7.141-16.456 10.246 15.525 8.383 32.291 14.593 49.989 18.629 21.114-10.556 38.501-27.323 49.679-47.815-3.105-19.561-9.625-37.88-18.319-54.958Z"
  ></path><path
    fill="#FF7A7F"
    d="M45.65 90.664C57.137 69.24 74.835 52.163 96.26 41.606 108.99 25.46 126.067 13.04 145.627 6.21 134.14 2.173 122.03.31 109.3.31c-24.218 0-46.263 8.073-64.272 21.424-6.52 4.658-12.73 10.247-18.008 16.456C9.943 57.752-.304 83.213.007 111.156c0 12.109 2.173 23.598 5.589 34.465 7.452-22.356 21.734-41.606 40.053-54.957Z"
  ></path><path
    fill="#E7666D"
    d="M46.581 200.889C37.577 184.433 32.3 165.492 32.3 145.31c0-19.871 4.968-38.501 13.661-54.957-18.63 13.662-32.601 32.912-40.053 55.268 7.452 22.666 22.045 41.916 40.674 55.268Z"
  ></path><path
    fill="#FFA5B1"
    d="M45.96 90.353C36.957 106.81 32.3 125.44 32.3 145.31c0 20.182 5.278 39.123 14.593 55.268 3.415-19.561 9.625-38.19 18.008-55.268-9.004-16.766-15.524-35.396-18.94-54.957Z"
  ></path><path
    fill="#FFD0D0"
    d="M130.414 218.897c-22.356-14.903-41.606-34.464-56.2-57.13-3.415-5.279-6.52-10.867-9.625-16.456-8.694 17.077-14.904 35.706-18.008 55.267 11.488 20.493 29.186 37.259 50.3 47.506h.31c17.698-4.347 34.465-10.868 49.679-19.251-5.589-2.794-11.178-6.21-16.456-9.936Z"
  ></path><path
    fill="#68C080"
    d="M145.628 6.21C157.116 2.173 169.225 0 181.956 0c24.218 0 46.573 7.452 64.892 20.803 6.521 4.657 12.42 10.246 18.009 16.146 17.077 19.25 27.634 44.71 27.944 72.655 0 12.109-1.863 23.597-5.278 34.465-7.452-22.356-21.734-41.296-40.675-54.647-11.488-21.114-29.496-37.88-51.231-48.127-13.04-16.145-30.118-28.254-49.989-35.085Z"
  ></path><path
    fill="#FF9752"
    d="M96.26 41.606c14.903-7.452 31.67-11.488 49.368-11.488s34.465 3.726 49.679 10.867C182.577 25.15 165.189 12.73 145.628 6.21 126.067 13.35 108.99 25.77 96.26 41.606Z"
  ></path><path
    fill="#FFB884"
    d="M145.939 60.546c15.214-8.694 31.98-15.214 49.368-19.25-14.904-7.142-31.981-11.178-49.679-10.868-17.698 0-34.465 4.347-49.368 11.489 17.698 4.036 34.464 10.246 49.679 18.63Z"
  ></path><path
    fill="#C4E2A0"
    d="M145.938 60.546c5.9 3.105 11.489 6.52 17.078 10.246 22.045 15.215 40.985 34.465 55.578 57.131 3.415 5.278 6.52 10.867 9.625 16.767 8.694-17.077 14.904-35.707 18.319-55.268-11.488-21.114-29.497-37.88-51.231-48.126-17.388 4.036-33.844 10.867-49.369 19.25Z"
  ></path><path
    fill="#EEC9A7"
    d="M64.9 145.621a225.974 225.974 0 0 1 9.315-16.767c14.282-22.665 32.912-42.537 54.957-57.751 5.278-3.726 11.178-7.141 16.767-10.557-15.525-8.383-31.981-14.904-49.68-18.94C74.837 52.163 57.139 69.24 45.96 90.353c3.415 19.561 9.936 38.191 18.94 55.268Z"
  ></path><path
    fill="#fff"
    d="M163.016 70.792c-5.589-3.726-11.178-7.141-17.077-10.246-5.899 3.105-11.488 6.83-16.767 10.557-22.045 15.214-40.674 35.085-54.957 57.751a145.439 145.439 0 0 0-9.315 16.767c2.795 5.589 6.21 11.178 9.626 16.456 14.593 22.666 33.843 42.227 56.199 57.131 5.278 3.726 10.867 6.831 16.456 9.935 5.589-3.104 11.178-6.52 16.456-10.246 22.045-15.214 40.985-34.775 55.578-57.441 3.416-5.278 6.52-10.867 9.315-16.456-2.795-5.589-6.21-11.178-9.625-16.767-14.904-22.666-33.844-42.227-55.889-57.44Z"
  ></path></svg
>
