---
const { class: className } = Astro.props
---

<svg role="img" class={className} fill="none" viewBox="0 0 290 290"
  ><title>Rafiki icon (full color)</title><path
    fill="#56B7B5"
    d="M290 0H0v290h290V0Z"></path><path
    fill="#fff"
    d="M262.247 29H29v233.238h233.247V29Z"></path><path
    fill="#FF7A7F"
    d="M143.436 87.632c.214-1.685.337-3.4.337-5.146v-.552a39.152 39.152 0 0 1-6.621.552c-13.578 0-25.563-6.893-32.643-17.37a91.182 91.182 0 0 0-25.87 19.882 58.507 58.507 0 0 1 21.487 24.843c10.207-12.927 25.747-21.443 43.31-22.24v.031Z"
  ></path><path
    fill="#8075B3"
    d="M166.608 82.486c0 2.91-.214 5.758-.582 8.577a60.493 60.493 0 0 1 10.697 5.177 20.378 20.378 0 0 1-.95-6.158c0-11.058 8.889-20.033 19.892-20.248a90.284 90.284 0 0 0-22.589-10.63 38.717 38.717 0 0 1-7.602 11.243 64.872 64.872 0 0 1 1.134 12.038Z"
  ></path><path
    fill="#68C180"
    d="M225.917 189.332c1.9-3.461 3.555-7.076 4.996-10.813-12.383-6.617-20.843-19.666-20.843-34.707 0-1.409.061-2.787.215-4.135a41.267 41.267 0 0 0-5.855 7.566c-.183 8.577-2.206 16.726-5.731 24.016a40.929 40.929 0 0 0 7.141 20.432 58.683 58.683 0 0 1 16.828-2.481c1.103 0 2.176.031 3.249.092v.03Z"
  ></path><path
    fill="#FFB985"
    d="M196.032 110.361a21.17 21.17 0 0 1-3.984-.398 57.969 57.969 0 0 1 6.222 9.772 63.377 63.377 0 0 1 29.271-14.06 91.41 91.41 0 0 0-11.279-17.461c.061.612.092 1.225.092 1.868 0 11.212-9.073 20.279-20.291 20.279h-.031Z"
  ></path><path
    fill="#56B7B5"
    d="M91.544 218.679a31.75 31.75 0 0 1-.183-3.431c0-11.242 5.762-21.137 14.467-26.926a53.123 53.123 0 0 1-2.912-2.972h-.245c-12.107 0-22.989 5.239-30.498 13.571a91.982 91.982 0 0 0 19.371 19.788v-.03Z"
  ></path><path
    fill="#68C180"
    d="M161.827 202.168c1.042 2.573 1.961 5.207 2.666 7.934a33.13 33.13 0 0 1 4.966-.368c2.758 0 5.425.337 7.969.98a59.176 59.176 0 0 1 8.184-8.209 62.395 62.395 0 0 1-4.966-9.527 58.204 58.204 0 0 1-18.819 9.19Z"
  ></path><path
    fill="#FFD0D0"
    d="M87.62 145.957v-1.379c-11.8-2.849-22.313-8.944-30.558-17.307-1.257 6.034-1.962 12.284-1.962 18.686 0 11.273 2.054 22.086 5.824 32.042a63.86 63.86 0 0 1 29.425-14.306 57.643 57.643 0 0 1-2.79-17.767l.062.031ZM78.61 84.998a92.238 92.238 0 0 0-12.139 16.939c5.395 9.987 14.835 17.492 26.115 20.34a58.176 58.176 0 0 1 7.509-12.436C95.436 99.64 87.927 91.032 78.609 84.998Z"
  ></path><path
    fill="#68C180"
    d="M222.699 189.241c-5.854 0-11.494.858-16.827 2.481 3.003 4.319 6.773 8.057 11.187 10.967 3.341-4.166 6.345-8.608 8.919-13.326a56.914 56.914 0 0 0-3.248-.091l-.031-.031ZM185.642 202.504a57.579 57.579 0 0 0-8.184 8.21c7.142 1.807 13.333 6.004 17.686 11.671 1.777-1.164 3.555-2.359 5.241-3.615a64.33 64.33 0 0 1-14.743-16.266Z"
  ></path><path
    fill="#FF9852"
    d="M175.742 90.082c0 2.145.337 4.197.95 6.158a59.19 59.19 0 0 1 15.356 13.723c1.287.245 2.636.398 3.985.398 11.218 0 20.29-9.067 20.29-20.279 0-.643-.03-1.255-.092-1.868-5.885-7.138-12.842-13.325-20.597-18.41-11.034.214-19.892 9.19-19.892 20.248v.03Z"
  ></path><path
    fill="#C5E3A1"
    d="M180.646 192.978c1.379 3.339 3.065 6.494 4.965 9.526a58.049 58.049 0 0 1 20.229-10.782c-4.076-5.882-6.62-12.866-7.141-20.432a58.264 58.264 0 0 1-18.053 21.688Z"
  ></path><path
    fill="#FFB985"
    d="M204.462 145.956c0 .46 0 .889-.031 1.318a40.278 40.278 0 0 1 5.854-7.567c1.318-12.712 8.705-23.587 19.188-29.775-.613-1.439-1.288-2.849-1.962-4.258-11.034 2.114-21.057 7.077-29.271 14.061 3.984 7.872 6.222 16.756 6.222 26.191v.03Z"
  ></path><path
    fill="#C5E3A1"
    d="M217.028 202.658a41.408 41.408 0 0 1-11.187-10.967 58.047 58.047 0 0 0-20.23 10.783 64.364 64.364 0 0 0 14.743 16.266c6.222-4.626 11.801-10.048 16.674-16.113v.031Z"
  ></path><path
    fill="#8075B3"
    d="M143.743 81.904v.551c0 1.746-.123 3.462-.337 5.146a58.444 58.444 0 0 1 22.589 3.43c.368-2.817.583-5.666.583-8.576 0-4.105-.399-8.148-1.135-12.039a39.306 39.306 0 0 1-21.7 11.488Z"
  ></path><path
    fill="#FFA6B2"
    d="M87.651 144.578c.184-7.903 1.931-15.439 4.966-22.27-11.28-2.849-20.72-10.354-26.115-20.34-4.321 7.811-7.54 16.297-9.41 25.303 8.246 8.362 18.759 14.489 30.56 17.307Z"
  ></path><path
    fill="#56B7B5"
    d="M102.67 185.35h.246a57.712 57.712 0 0 1-10.054-15.193 58.431 58.431 0 0 1-26.758 19.084 89.527 89.527 0 0 0 6.069 9.649c7.51-8.332 18.39-13.57 30.497-13.57v.03Z"
  ></path><path
    fill="#56B7B5"
    d="M92.862 170.157a58.595 58.595 0 0 1-2.483-6.464 63.86 63.86 0 0 0-29.425 14.306 95.643 95.643 0 0 0 5.119 11.242 58.432 58.432 0 0 0 26.758-19.084h.03ZM105.827 188.322c-8.735 5.789-14.467 15.684-14.467 26.926 0 1.164.061 2.297.184 3.431a90.709 90.709 0 0 0 46.099 17.736 32.278 32.278 0 0 1 5.946-13.754 41.228 41.228 0 0 0-6.712-19.023c-11.924-1.869-22.651-7.383-31.019-15.316h-.031Z"
  ></path><path
    fill="#2E9C86"
    d="M146.041 204.343c-3.126 0-6.191-.245-9.195-.736a40.545 40.545 0 0 1 6.712 19.023 32.467 32.467 0 0 1 12.291-9.955 31.5 31.5 0 0 0-1.992-8.884c-2.575.337-5.18.552-7.877.552h.061Z"
  ></path><path
    fill="#68C180"
    d="M164.493 210.102a63.524 63.524 0 0 1 1.839 22.147c2.176-7.995 6.007-15.286 11.095-21.535a32.46 32.46 0 0 0-7.969-.98c-1.686 0-3.341.122-4.965.368Z"
  ></path><path
    fill="#68C180"
    d="M177.427 210.714c-5.088 6.249-8.919 13.54-11.095 21.535a59.252 59.252 0 0 1-.245 2.328c10.482-2.359 20.26-6.555 29.057-12.161-4.353-5.667-10.544-9.864-17.686-11.671l-.031-.031Z"
  ></path><path
    fill="#2E9C86"
    d="M155.88 212.705a31.514 31.514 0 0 1 8.613-2.603c-.705-2.727-1.625-5.361-2.667-7.934-2.574.735-5.21 1.256-7.938 1.623a31.779 31.779 0 0 1 1.992 8.884v.03Z"
  ></path><path
    fill="#2E9C86"
    d="M164.492 210.102a31.517 31.517 0 0 0-8.612 2.603c.061.827.122 1.685.122 2.543a32.151 32.151 0 0 1-8.245 21.535 91.149 91.149 0 0 0 17.961-2.145c.184-.796.399-1.623.613-2.389a63.48 63.48 0 0 0-1.839-22.147Z"
  ></path><path
    fill="#56B7B5"
    d="M166.056 234.547c.092-.766.184-1.532.245-2.329a67.585 67.585 0 0 0-.613 2.39c.123 0 .215-.061.337-.092l.031.031ZM142.455 236.722a41.094 41.094 0 0 0 1.317-10.324c0-1.256-.061-2.512-.183-3.737a32.267 32.267 0 0 0-5.947 13.754c1.594.153 3.188.245 4.813.337v-.03Z"
  ></path><path
    fill="#2E9C86"
    d="M155.88 212.705a32.462 32.462 0 0 0-12.291 9.956 37.54 37.54 0 0 1 .184 3.737c0 3.554-.46 7.015-1.318 10.323 1.195.062 2.391.062 3.586.062h1.716c5.119-5.729 8.245-13.264 8.245-21.535 0-.858-.03-1.685-.122-2.543Z"
  ></path><path
    fill="#825282"
    d="M165.443 70.447a38.713 38.713 0 0 0 7.601-11.242 88.342 88.342 0 0 0-12.046-2.849 63.98 63.98 0 0 1 4.445 14.091ZM137.122 82.486c2.268 0 4.475-.215 6.62-.552-.122-9.894-3.77-18.962-9.747-26.007a90.192 90.192 0 0 0-29.516 9.19c7.08 10.476 19.034 17.368 32.643 17.368Z"
  ></path><path
    fill="#825282"
    d="M165.442 70.447a63.978 63.978 0 0 0-4.444-14.091c-4.873-.797-9.87-1.256-14.958-1.256-4.076 0-8.091.306-12.045.827a40.747 40.747 0 0 1 9.747 26.007 39.306 39.306 0 0 0 21.7-11.487Z"
  ></path><path
    fill="#2E9C86"
    d="M230.913 178.519a90.539 90.539 0 0 0 6.038-32.593c0-6.28-.674-12.406-1.869-18.349-9.655 1.072-18.329 5.514-24.766 12.1a36.668 36.668 0 0 0-.215 4.135c0 15.041 8.429 28.091 20.843 34.707h-.031Z"
  ></path><path
    fill="#2E9C86"
    d="M235.081 127.608a89.186 89.186 0 0 0-5.578-17.675c-10.483 6.188-17.87 17.062-19.188 29.775 6.437-6.586 15.111-11.028 24.766-12.1Z"
  ></path></svg
>
