---
import { useTranslations } from '../../i18n/utils'
import { languages, defaultLang } from '../../i18n/ui'
import { getTagSlug, getTagUrl } from '../../utils/tag-url'

interface Props {
  lang: keyof typeof languages
  allTags: string[]
  selectedTag?: string
}

const { lang, allTags, selectedTag } = Astro.props
const t = useTranslations(lang)
---

<div class="tag-filter">
  <div class="tag-filter-label">{t('blog.filter')}:</div>
  <div class="tag-filter-buttons">
    <a
      href={lang === defaultLang
        ? '/developers/blog'
        : `/developers/${lang}/blog`}
      class:list={['tag-button', { active: !selectedTag }]}
      data-umami-event="Blog tag filter - All"
    >
      {t('tag.all')}
    </a>
    {
      allTags.map((tag) => (
        <a
          href={getTagUrl(tag, lang)}
          class:list={['tag-button', { active: selectedTag === tag }]}
          data-umami-event={`Blog tag filter - ${tag}`}
        >
          {t(`tag.${getTagSlug(tag)}`)}
        </a>
      ))
    }
  </div>
</div>

<style>
  .tag-filter {
    margin-block-end: var(--space-m);
    background-color: var(--color-background-light);
    border-radius: var(--border-radius);
  }

  .tag-filter-label {
    font-weight: 600;
    margin-block-end: var(--space-3xs);
    font-size: var(--step--1);
  }

  .tag-filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-3xs);
  }

  .tag-button {
    padding: var(--space-3xs) var(--space-2xs);
    background-color: white;
    border: 1.5px solid var(--color-border);
    border-radius: var(--border-radius);
    font-size: var(--step--1);
    text-decoration: none;
    color: var(--color-text);
    box-shadow: var(--box-shadow);
    transition:
      background-color 200ms ease-in-out,
      color 200ms ease-in-out,
      border-color 200ms ease-in-out,
      text-decoration 200ms ease-in-out;
  }

  .tag-button:hover {
    background-color: white;
    border-color: var(--color-primary);
    color: var(--color-text);
    text-decoration: underline;
  }

  .tag-button.active {
    background-color: var(--color-primary);
    color: white;
    border-color: var(--color-primary);
  }
</style>
